.sidebarStyle{
    width: 250px;
    background-color: white;
}

.logoImage {
    width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    background-color: #5ffa79;
    border-color: black;
    border-style: solid;
    width: 100%;
    padding: 5%;

}

.nav-link {
    color: #000000;
    text-align: center;
}